/* Variables globales #a900f7  #8d0ecc #6c009e*/
:root {
    --white: #FFF;
    --black: #000;
    --header-color: #6c009e;
    --nav-color: #8f40c7;
    --links-font: 'Rampart One', cursive;
    --text-font: 'Krub', sans-serif;
    --nav-color-hover: #aa25e8;
    --btn-disabled-color: #dedede;
    --color-disabled: #636363;

    --error-color-bg: #ffd9d7;
    --error-color-font: #85221c;
    --error-color-border: #fc7b75;
    --success-color-bg: #b1ffb4ab;
    --success-color-border: #52ff58e3;
    --success-color-font: #066d09;

}

/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: var(--text-font);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}


/* ! HEADER Y NAV */
.header {
    margin-bottom: 6rem;
    position: relative;
}

.menu {
    position: absolute;
    right: 17px;
    top: 24px;
    cursor: pointer;
}

.title {
    margin: 0;
    padding: 2rem 0;
    font-size: 4rem;
    font-family: var(--links-font);
    text-align: center;
    background-color: var(--header-color);
}

.title a {
    color: var(--white);
    transition: all .6s ease;
}

.title a:hover {
    letter-spacing: 10px;
}

.title-container {
    position: inherit;
    z-index: 1000;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    transition: all .6s;
}

.nav a{
    display: inline-block;
    text-align: center;
    font-size: 2.4rem;
    font-family: var(--links-font);
    padding: 1.8rem;
    width: 100%;
    color: var(--white);
    transition: all .5s ease;
}

.nav a:hover {
    letter-spacing: 6px;
    background-color: var(--nav-color-hover);
}

.hidden {
    margin-top: -128px;
}
.visible {
    margin-top: 0;
}

/* * MEDIA QUERIES */
@media (min-width: 768px){
    .header {
        position: unset;
        display: flex;
        justify-content: space-between;
        background-color: var(--header-color);
    }

    .title-container {
        position: unset;
        padding-left: 2rem;
    }

    .menu {
        visibility: hidden;
    }

    .nav {
        flex-direction: row;
        background-color: var(--header-color);
        align-items:stretch;
    }

    .nav a {
        width: 14rem;
    }

    .hidden, .visible {
        margin: 0;
    }
}

/* ! MAIN */

/*  * FORM AND INPUT */
.main {
    max-width: 114rem;
    width: 94%;
    margin: 0 auto;
    min-height: 100vh;
}

@media (min-width: 957px){
    .main {
        display: grid;
        grid-template-columns: 40% 60%;
        column-gap: 2rem;
    }
}


.messageInfo {
    padding: 1rem ;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    border-radius: 2rem;
}

.error {
    background-color: var(--error-color-bg);
    color: var(--error-color-font);
    border: 2px solid var(--error-color-border);
}

.success {
    background-color: var(--success-color-bg);
    color: var(--success-color-font);
    border: 2px solid var(--success-color-border);
}

.label-input {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.textarea {
    display: inline-block;
    width: 100%;
    height: 12rem;
    border-radius: 1.5rem;
    border: #c2c2c2 1px solid !important;
    resize: none;
    transition: all .4s;
    padding: 1rem;
    line-height: 2;
}
.textarea:focus {
    outline: var(--header-color) solid .9px;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

@media (min-width: 957px){
    .btnContainer {
        flex-direction: column;
        justify-content: space-between;
        height: 20rem;
        width: 90%;
        margin: 3rem auto;
    }
    .btnForm {
        flex: 0 0 calc(50% - 1rem) !important;
    }
}

.btnForm {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: 2rem 3rem;
    flex: 0 0 calc(50% - 1.5rem);
    border: transparent solid 1px;
    border-radius: 2rem;
    background-color: var(--nav-color);
    transition: all .3s;
}



.btnForm:hover {
    border: var(--nav-color) solid 1px;
    background-color: var(--white);
    color: var(--header-color);
    cursor: pointer;
}

.btnDisabled {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: var(--color-disabled);
    padding: 2rem 3rem;
    flex: 0 0 calc(50% - 1.5rem);
    border: transparent solid 1px;
    border-radius: 2rem;
    cursor: initial;
    background-color: var(--btn-disabled-color);
}

/* * THE LIST */

.listTitle {
    text-align: center;
    margin: 0;
    margin-top: 4rem;
}

@media (min-width: 957px){
    .listTitle {
        margin-top: 0;
    }
    
}

.myList {
    width: 94%;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px){
    .myList {
        margin: 0;
        width: 90%;
    }
}

.listItem {
    padding: 2rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.listItem__text {
    font-size: 1.8rem;
}

.task-done {
    text-decoration: line-through;
    color: var(--color-disabled);
    font-style: italic;
}

.iconsContainer button{
    margin-left: .7rem;
}

/* * FOOTER */
.footer {
    /* position: absolute; */
    /* bottom: 0; */
    /* z-index: 0; */
    width: 100%;
    margin-top: 4rem;
    background-color: var(--header-color);
    height: 5rem;
    display: flex;
    justify-content: center;
    color: var(--white);
    font-weight: bold;
}


/* ! HELP PAGE */
.help-title {
    text-align: center;
    color: var(--header-color);
    font-size: 2.8rem;
}

.help-text {
    text-align: center;
    font-weight: 700;
    color: var(--header-color);
    margin-top: 1rem;
}

.image-container {
    max-width: 60rem;
    width: 70%;
    margin: 0 auto;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: .8rem .6rem;
}